body{
  background-color: #87CEEB;
}

.container{
  margin-top: 5%;
}
div .App {
  
  place-items: center;
  display: grid;
  margin: auto;
  width: 270px;
  height: 443px;
  background-color:whitesmoke;
  border-radius: 5%;
}
.image img{
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 5%;
}
.paragraph1{
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
  color: #000435;
  text-align: center;
}
.paragraph2{
  color: gray;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 11px; 
  text-align: center;
}

